
<body>
<center>
  <style>
    body {
     background: url("<%=@foursquare.pic_url%>")  no-repeat fixed center;
     background-size: 100% auto;
     position: center;
    }
    #restaurant {
      color: white;
    }
  </style>
  <div id="restaurant">
    <ul>
      <li>
        <%= @foursquare.name %><br>
      </li>
      <li>
        <%= @foursquare.phone_num %><br>
      </li>
      <li>
        <%= @foursquare.address %>
      </li>
    </ul>
  </div>
</center>
</body>
