<!-- <div class='span0 well text-center'>
  <span class="glyphicon glyphicon-search"></span>
  <i class='icon-arrow-up'>-></i>
</div> -->

<%#= button_to "Want", root_path, class: "btn btn-default btn-lg" %>
<%#= button_to "Don't Want", root_path, class: "btn btn-default btn-lg" %>
