@import "bootstrap-sprockets";
@import 'bootstrap';


@import "style";
@import "ionicons";
@import "plugin/jPushMenu";
@import "plugin/animate";
@import "jquery-ui";
@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');

.fa-spin {
  display: inline-block;
  animation: anim-rotate 2s infinite linear;
    width:100px;
    color: #F0F0F0;
    height: 100px;
    position: fixed;
    top: 55%;
    left: 50%;
    text-align: center;
    margin-left: -25px;
    margin-top: -100px;
    z-index: 2;
    overflow: auto;
}
