// // Place all the styles related to the home controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
#restaurant {
  color: white;
  position: fixed;
  bottom: 10%;
  right: 20%;
  left: 70%;
  width: 300px;
  background-color: rgba(84,84,84, 0.7);
  border: 3px solid #FFFFFF;
  font-size: 15px;
}

//
// a:link {
//     text-decoration: none;
//     color: #FFFFFF
// }
//
// a:visited {
//     text-decoration: none;
//     color: #666666;
// }
//
// a:hover {
//     text-decoration: underline;
//     color: #FFFFFF
// }
//
// a:active {
//     text-decoration: underline;
//     color: #FFFFFF
// }
