// body {
//   background-image: url("https://irs2.4sqi.net/img/general/width960/fLM_wUiQ6cBToSuLGrFrCgMrmT7pJ-RybfcWOOflqr4.jpg") no-repeat center center fixed;
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }
//
// .background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
// }
//
// img {
//   height: auto;
//   width: auto;
//   min-width: 100%;
//   min-height: 100%;
// }
// #img.source-image {
//  width: 100%;
//  position: absolute;
//  top: 0;
//  left: 0;
// }
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
