<center class="navbar-fixed-bottom light-color">
  <div id="location-text"><% if @current_location %><strong><%= @current_location %></strong><% end%></div>
  <div id="location">
    <button type="button" class="btn btn-md btn-white-line">&nbsp;&nbsp;Refresh Location <i class="fa fa-location-arrow"></i></button>
  </div>
    The Flatiron School // Made with &hearts; by
    <a href="https://github.com/emottk/">Emily Mott Kowal</a>,
    <a href="https://github.com/staceyko/">Stacey Ko</a>,
    <a href="https://github.com/sherriously/">Sherri Lu</a>, and
    <a href="https://github.com/georgetoothman/">George Toothman</a>.
</center>
