<center class="navbar-fixed-bottom light-color">
  <div id="location-text"><% if @current_location %><strong><%= @current_location %></strong><% end%></div>
  <div id="location">
    <button type="button" class="btn btn-md btn-white-line">&nbsp;&nbsp;Refresh Location <i class="fa fa-location-arrow"></i></button>
  </div>
    The Flatiron School // Made with love by Emily Mott Kowal, Stacey Ko, Sherri Lu and George Toothman
</center>
