<center class="navbar-fixed-bottom light-color">
  <% if @current_location %><%= @current_location %><% end%>
  <div id="location">
    <button type="button" class="btn btn-md btn-white-line">&nbsp;&nbsp;Refresh Location <i class="fa fa-location-arrow"></i></button>
  </div>
</center>
